@use 'variables' as *;

/* Light/Dark mode - color-scheme styr light-dark() funktionen */
:root {
    font-size: 16px; // Nu 채r 1rem = 18px
    color-scheme: light;
    --body-bg: #{light-dark($offwhite, $skogsgron-dark)};
    --text-color: #{light-dark($skogsgron-100, $kalk-50)};
}

/* N채r data-theme="dark" 채r satt p책 html-elementet */
:root[data-theme="dark"] {
    color-scheme: dark;
}