// Typography
$font: 'Source Sans 3', sans-serif;

// Colors
// Tranasgranit
$tranasgranit-25: #CA9093;
$tranasgranit-50: #B45C60;
$tranasgranit-75: #9C2C2F;
$tranasgranit-100: #8A191E;

// Guld
$guld-25: #FCDA93;
$guld-50: #FBC85E;
$guld-75: #F8B625;
$guld-100: #f6aa22;

// Skogsgrön
$skogsgron-25: #A1ADAA;
$skogsgron-50: #748985;
$skogsgron-75: #4A645F;
$skogsgron-100: #014C45;

// Kalk
$kalk-25: #FCFAF7;
$kalk-50: #FBF6F2;
$kalk-75: #F8F1ED;
$kalk-100: #EADBD3;