// Typography
$font-family-primary: 'Source Sans 3', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

$font-base-size: 19px;

$unit: 1rem;

$header-height: 100px;

$wideSize: 1920px;
$contentSize: 840px;

$padding: 2rem;
$gap: 2rem;
$block-gap: 100px;

$border-radius-default: 0.75rem;
$border-radius-large: 0.5rem;
$button-radius: 100px;

$box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.2);

$desktop: 1920px;
$laptop-xl: 2000px;
$laptop: 1440px;
$tablet: 960px;
$mobile: 600px;